name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Chequear codigo
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        
    - name: Docker login
      env:
        DOCKER_USER: ${{ secrets.DOCKER_USER }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      run: |
        echo "Iniciando login"
        docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
        echo "Finalizando login"
        
    - name: Docker build
      run: |
        docker build -t dsbpim/ghact-graphql:0.0.2 .
        docker build -t dsbpim/ghact-graphql:latest .
        docker image tag dsbpim/ghact-graphql:0.0.2 dsbpim/docker-graphql:0.0.2
        docker image tag dsbpim/ghact-graphql:latest dsbpim/docker-graphql:latest
    - name: Docker push
      run: |
        docker push dsbpim/docker-graphql:0.0.2 
        docker push dsbpim/docker-graphql:latest










    
    # - name: Build the Docker image
      # run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
